@model IEnumerable<WebApplication1.Models.Usuario>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="offset-9 col-3 mb-3">
        <a asp-action="crear" asp-controller="Home" class="btn-success d-block mx-auto btn-lg">Nuevo Usuario</a>
    </div>
</div>

<div  class="container-fluid">
    <div class="offset-12"> 
        <div class="card border">
            <div class="card-header bg-dark">
                <h1 class="text-white"><strong>Lista de usuarios</strong></h1>

            </div>

            <div class="card-body">
                <div class="table-responsive"> 
                    @if(Model.Count() > 0)
                    {
                        <table class="table table-bordered align middle" id="tblUsuario" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(x=> x.Nom)</th>
                                    <th>@Html.DisplayNameFor(x=> x.user)</th>
                                    <th>@Html.DisplayNameFor(x=> x.password)</th>
                                    <th>@Html.DisplayNameFor(x=> x.Roles.Nom)</th>
                                    <th>Acciones</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(x => item.Nom)</td>
                                        <td>@Html.DisplayFor(x => item.user)</td>
                                        <td>@Html.DisplayFor(x => item.password)</td>
                                        <td>@Html.DisplayFor(x => item.Roles.Nom)</td>
                                        <td>
                                            <a class="btn btn-warning" asp-action="Editar" asp-route-id=@item.PkUser> Editar </a>
                                            <a class="btn btn-danger" asp-action="Eliminar" asp-route-id=@item.PkUser> Eliminar </a>
                                        </td>
                                    </tr>
                                }

                            </tbody>

                        </table>
                    }else
                    {
                        <p>No hay registros</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>